* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f3a0ff, #b8d8ff);
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f8fd;
    padding: 20px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.logo img {
    width: 250px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ffb0da;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #bca1e5;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile img {
    width: 50px;
    border-radius: 50%;
}

.logout-btn {
    padding: 10px 15px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #e63946;
}

/* Container for Upload Section */
.container {
    width: 800px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Upload Section */
.upload-section {
    margin-bottom: 20px;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.drop-area p {
    color: #333;
    font-size: 16px;
}

#browseFiles {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#browseFiles:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    
}

.buttons button#updateButton {
    background-color: #ff9800;
}

.buttons button#deleteButton {
    background-color: #f44336;
}

.buttons button:hover {
    opacity: 0.9;
}

#fileList {
    margin-top: 20px;
    text-align: left;
}

#fileList p {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
